@font-face {
    font-family: 'Averta' ;
    src: url(fonts/FontsFree-Net-AvertaStandard-Regular.ttf) ;
}

@font-face {font-family: "Averta-Bold"; 
    src: url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.eot"); 
    src: url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.woff") format("woff"), url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/c36a75c5ada59665e225bbf5e38efd34.svg#Averta-Bold") format("svg"); }

:root {
    --pink: #FD6599;
    --blue: #3A4BA3 ;
    --navy: #1C1B4E ;
}

