.about-section {
    /* vertical-align: middle; */
    /* float: none; */
    padding-bottom: 108px;
    }
    
    .pink-rectangle {
    height: 636px;
    width: 1024px;
    width: 100%;
    background: #F45D92;
    background-repeat: no-repeat ;
    background-size: 100%;

    /* position: absolute; */
    }

    .pink-rectangle >h1 {
        width: 680px;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: -1.1px;
        color: #ffffff;
        padding-bottom: 55px;
        padding-top: 100px;
    }

    .pink-rectangle >h2 {
        text-align: center;
        width: 643px;
        margin: 0 auto ;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px; 
        letter-spacing: -1.1px; 
        color: #ffffff;
    }



    .b-vector-1 {
 overflow: hidden;
width: 100%;
max-width: 120px;
height: 121px; 
left: 0;
padding-top: 150px; 
position: absolute;
/* z-index: -100; */
    }

    .b-vector-2 {
        /* overflow: hidden; */
        width: 100%;
        max-width: 540px;
        max-height: 1200px; 
        padding-bottom: 40px;
right: 0;
/* top: 4220px; */
position: absolute;
/* z-index: -100; */


    }

    @media screen and (max-width:768px) {
   .about-section {
       padding-bottom: 43px ;
   }

   .pink-rectangle {
    height: 328px;
    }

    .pink-rectangle >h1 {
        width: 301.5px;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -1.1px;
        color: #ffffff;
        padding-bottom: 30px;
        padding-top: 36px;
    }

    .pink-rectangle >h2 {
        width: 265px;
        text-align: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px; 
        letter-spacing: -1.1px; 
        color: #ffffff;
    }
    }
    @media screen and (max-width: 1182px) {
        .b-vector-2 {
            display: none ;
        }
    }