
.app-store-section {
margin-bottom: 80px;
}

.rectangle {
width: 1184px ;
height: 414px;
background: #4958AA;
border-radius: 40px ;
opacity: 100;
margin: 0 auto ; 

position: relative;
background-position: right;
background-repeat: no-repeat ;
background-size: 100%;
}

.app-store-row {
display: grid;
width: 1184px;
grid-template-columns: 511px 513px ;
align-items: start;
justify-content: space-between;

padding-top: 20px;
}
/*
.app-column-1 {
}*/

.app-column-1 > h3 {
font-weight: 600;
font-size: 50px;
line-height: 50px;
padding-top:65px;
/* padding-bottom: 0px; */
padding-left: 70px;
letter-spacing: -0.055em;
color: #ffffff;
}


    /*
    .app-column-1 > .h3-pink {
        color: #F45D92  ;
    }
    .app-column-1 > .h3-white {
        color: #ffffff;
    }*/

.pink {
    color: #F45D92;
}

/*
.app-column-1 > .h3-pink {
    color: #F45D92  ;
}
.app-column-1 > .h3-white {
    color: #ffffff;
}*/

.store-img-row {
justify-content: center;
display: grid ;
grid-template-columns: 170px 170px ;
column-gap: 20px;
padding-top: 100px;
}

.store-img-col {
grid: 50%;
}

.store-img {
width: 170px;
height: 57px;

padding-left: 70px;
padding-top: 120px;
}

/*
.app-column-2 {
}*/

.phone-img {
width: 513px ;
height: 524px;
position: absolute;
top: -110px;
right: 0;
}
.ellipse {
    width:686px ;
    height: 414px;
    right: 0;
    position: absolute;
    top: 0px;
}

@media screen and (max-width:1000px) {
.ellipse {
    display: none ;
}
}

@media screen and (max-width:890px) {
    .phone-img {
        display: none ;
    }
    }

@media screen and (max-width:1178px) {
.rectangle {
    width: 100%;
}
}


@media screen and (max-width:768px) {

.app-store-section {
    margin-bottom: 70px;
    }
    
    .rectangle {
    /* width: 768px; */
    width: 100%;
    background-repeat: no-repeat ;
    background-size: 100%;
    height: 414px;
    background: #4958AA;
    border-radius: 0px ;
    opacity: 100;
    margin: 0 auto ; 
    
    position: relative;
    background-position: right;
    background-repeat: no-repeat ;
    background-size: 100%;
    }
    
    .app-store-row {
    display: grid;
    width: 1184px;
    grid-template-columns: 250px 123px ;
    align-items: start;
    justify-content: space-between;
    
    padding-top: 10px;  
    padding-bottom: 0px;
    }
    /*
    .app-column-1 {
    }*/
    
    .app-column-1 > h3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 39.6px;
    padding-top:20px;
    padding-bottom: 0px;
    padding-left: 20px;
    letter-spacing: -0.055em;
    
    
    color: #ffffff;
    }
    

    
    .store-img-row {
    justify-content: left;
    padding-left: 20px;
    display: grid ;
    grid-template-columns: 170px ;
    grid-template-rows: 40px 40px;
    row-gap: 5px;
    padding-bottom: 0px;
    padding-top:160px;
    }
    
    .store-img-col {
    grid: 50%;
    }
    
    .store-img {
    width: 120px;
    height: 39px;

    padding-left:20px;
    padding-top:200px;
    }
    
    
    /* .app-column-1 {
    } */
    
    .phone-img {
    width: 276.48px ;
    height: 282.41px; /*dlaczego nie zmienia sie wysokosc*/
    /* left: 143px; */
    display: inline-flex;
    position: absolute;
    top: 132px;
    right: -10px;
    
    }
}




    
