.base-section {
/* vertical-align: middle; */
/* float: none; */
padding-bottom: 190px;
}

.base-rectangle {
height: 538px;
width: 1024px;
width: 100%;
background: #F45D92;
background-repeat: no-repeat ;
background-size: 100%;
position: relative;
}

.base-v-2 {
  position: absolute;
  height: auto;
  width: 50%;
  /* top: 3010px; */
  bottom: 0;
  right:0;
  /* z-index: -100; */
}

.base-v-1 {
  position: absolute;
  height: auto;
  width: 40%;
  /* z-index: -100; */
}

.base-v-3 {
  position: absolute;
  height: auto;
  width: 9%;
  right:40px;
  padding-top: 125px;
}

.base-vector-2 {
  position: absolute;
  z-index: -100;
  /* bottom: 200px; */
  /* top:1000px; */
}

.baseContainer {
    /* display: flex;
    align-items: center;
    justify-items: center;  */
    /* vertical-align: middle; */
}

.base-rectangle >h1 {
  /* position: absolute; */
  /* position: relative; */
    z-index: -100;
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: -1.1px;
    text-align: center;
    color: #fffbfd;
    padding-top: 95px ;
}

.base-row-1 {
    justify-content: center;
    
     /* margin: 0 auto; */

display: grid;
grid-template-columns: 350px 360px 350px;
grid-gap:38px ;
padding-top: 76px;

/* position: absolute;  */
/*nie dalo sie wycentrowac*/ 
}

.base-img {
    height: auto;
    width:94%;

    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-top: 20px;
    /* position: relative; */
    /* border-radius: 5%; */

}




.col-row-1 {
    position: relative;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:60px;
  margin: 0 auto;
  /* padding-top: 60px; */
  /* margin-bottom: 20px; */
  /* position: relative; */
  max-width: 1300px;

}

.rec.rec-slider-container {
  /* max-width: 1000px; */
}


.overlay-wrapper {
  position: relative;
  /* padding-top: 20px; */
}

.img-overlay {
  position: absolute;
  /* top: 270px; */
  top:0;
  bottom: 0;
  left: 0;
  right: 30px;
  text-align: center;
}
.img-overlay:before {
  content:' ';
display: block ;
height: 69%;
}

.btn {
    /* position: absolute; */
    /* top:18% ; */
    /* bottom: 20%; */
    /* left: 20%; */
    /* display: block ; */
    /* height: 20%; */
    /* left: % ; */
    border: none;
    background-color: #3A4BA3;
    font-size: 15px;
    font-family: 'Averta';
    color: #ffffff;
    padding: 4px 30px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
     max-width: 300px;
    width: 100%; 
    font-family: 'Averta';
    /* height: auto; */
}

button.rec-dot {
  /* padding-bottom: 20px/; */
  background-color: hsla(330, 69%, 75%, 0.849);
  /* opacity: 2; */
  box-shadow: 0 0 1px 2.5px hsla(330, 69%, 75%, 0.849);;
  box-decoration-break: #df9eb5;
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  box-shadow: 0 0 1px 3px #3A4BA3;
  background-color: #3A4BA3 ;

}

.rec.rec-arrow {
display: none;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (min-width:1200px) {
  button.rec-dot {
    display: none;
  }
}

@media screen and (max-width:420px)
{
  .base-rectangle > h1 {
      padding-top: 50px ;
  }

  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top:px; */
    /* padding-top: 60px; */
    /* margin-bottom: 20px; */
    /* position: relative; */
  }
}

@media screen and (max-width: 1170px) {
  .img-overlay:before {
  height: 72%;
  }
}

@media screen and (max-width: 1024px) {
  .img-overlay {
    position: absolute;
    /* top: 270px; */
    top:0;
    bottom: 0px;
    left: 0;
    right: 20px;
    text-align: center;
    justify-content: center;
  }

  .img-overlay:before {
    content:' ';
  display: block ;
  height: 74%;
  }

.btn {
  max-width: 250px;
  /* top:20px; */
}
  .base-rectangle >h1 {
    font-size: 30px;
    padding-top:36px;
  }

  .carousel-container {
   padding-top : 0px;
  }
}

@media screen and (max-width: 1024px) {
  .img-overlay:before {
  height: 68%;
  }
}

  .flex-container {
display: flex ;
flex-wrap: wrap;
  }

  .wrapper {
width: 100% ;
max-width: 960px;
margin: 0 auto ;
  }

