.base-section {
/* vertical-align: middle; */
/* float: none; */
padding-bottom: 258px;
}

.base-rectangle {
height: 538px;
width: 1024px;
width: 100%;
background: #F872A1;

background-repeat: no-repeat ;
background-size: 100%;
}

.baseContainer {
    /* display: flex;
    align-items: center;
    justify-items: center;  */
    vertical-align: middle;
}

.base-rectangle >h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: -1.1px;
    text-align: center;
    color: #fffbfd;
    padding-top: 125px ;
}

.base-row-1 {
    justify-content: center;

display: grid;
grid-template-columns: 347px 347px 347px;
grid-gap:38px ;
padding-top: 76px;

/* position: absolute;  */
/*nie dalo sie wycentrowac*/ 
}

.base-img {
    height: 299px;
    width:347px;
}

.col-row-1 {
    position: relative;
}

.btn {
    width: 299px ;
    cursor: pointer; /*nie dziala*/

}

.col-row-1 .btn {
    position: absolute;
    top:79% ;
    left: 6% ;
    border: none;
    background-color: #3A4BA3;
    font-size: 15px;
    font-family: 'Averta';
    color: #ffffff;
    padding: 4px 30px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;

}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .flex-container {
display: flex ;
flex-wrap: wrap;
  }

  .wrapper {
width: 100% ;
max-width: 960px;
margin: 0 auto ;
  }

  .box {
      height: 100px;
      min-width: 300px;
      flex-grow: 1;
  }

  .one {
    background: blue;
  }

  .two {
    background:pink;
  }

  .three {
background: yellow;

  }