
.functions-section {
justify-content: center;
padding-bottom: 106px;
}

.functions-section > h1 {
font-weight: 600;
font-size: 48px;
line-height: 57.6px;
letter-spacing: -1.1px;
color: #31429B ;
text-align: center;
justify-content: center;
align-items: center;

padding-bottom: 70px;
}

.row:after {
    display: grid ;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    content: "";
    grid-gap: 10px; /*nie dziala*/
display: table ;
clear: both; 
}

.row2:after {
    display: grid ;
    grid-template-columns: 201px 201px 201px;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    content: "";
    display: table ;
    clear: both; 
/*content: "";
display: table ;
clear: both; */
}

.column {
    float: right;
    width:25% ;
}

.column2 {
    margin-top: 64px;
    margin-bottom: 100px;
    float: right;
    width: 33.33%;
}

.figure {

text-align: center; 
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: -1.1px;
color: #19126C;
text-indent: 0 ;
}

.fig-img {
width: 90px ;
height: 90px;
}

.fig-caption {
    text-align: center;
    /* display: inline-block;
    max-width: 200px; */

}

.stores-wrapper {
/* margin:0 auto ; */

}

.store-row {
    justify-content: center;
    display: grid ;
    grid-template-columns: 170px 170px ;
    column-gap: 20px;

}

.store-column {
grid: 50% ;
}

.store-img {
width: 170px;
height: 57px;
}




.flex-wrapper-a {
    width: 100% ;
    max-width: 1200px;
    margin: 0 auto ;
    padding-bottom: 68px;

    margin: 0 auto ;

    /* flex-grow: 1;  */
}

.flex-wrapper-b {
    width: 100% ;
    max-width: 920px;
    margin: 0 auto ;
    padding-bottom: 30px;
}

.flex-container {
    display: flex ;
    /* flex-wrap: wrap; */
align-content: space-between;
justify-content: center;
    flex-wrap: wrap;
}

.flex-col-container-a {
max-width: 200px;

}

.flex-col-container-b {
    max-width: 200px;
    }
    
    


.fun-icon {
    width: 90px ;
    height: 90px;
}


.fun-description{
    padding-top:28px;
    padding-right: 110px;
    text-align: center; 
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -1.1px;
    color: #19126C;
}


@media screen and (max-width: 768px)
{
    .functions-section {
        padding-bottom: 50px;
        }

    .flex-col-container-a {
        max-width: 170px;
        flex:50%;
        line-height: 17px;
        }

    .fun-description {
font-size: 14px ;
line-height: 16.8px;

    }

    .fun-icon {
        width: 50px;
        height: 50px;
    }
}