.happy-mom-container {
padding-top: 64px;
display: flex;
margin:0 auto ;

}

.happy-mom-row {
display: flex;
justify-content: center;
margin:0 auto ;
z-index: -1;
}
/*
.mom-column1 {

}
*/
.happy-mom-pic {
height: 353px;
width: 286px;
padding-right: 500px;
}


.mom-column2-rectangle {
height: 353px;
width: 693px; 
background: linear-gradient(180deg, #F4F7FF 0%, #FFFFFF 100%);
border-radius:60px ;
position: absolute;
z-index: -1;
}

.text-wrapper { /*jak zrobic zeby byly jako osobne elementy*/
    padding-left: 319px;
    padding-top: 58px;
}

.p2 {
    padding-top: 15px;
    font-style: italic;
    font-size: 24px;
    line-height:  32px;
    letter-spacing: -0.7px;
    color: #31429B; 
    margin-bottom: 10px;
}

.p3 {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.7px;
    font-weight: 700;
    color: #31429B; 
    text-align: left;
    padding-bottom: 15px;
} 

.quote-icon {
font-size: 3rem;
color: #31429B;
padding-bottom: 15px;
/*padding-top: 58px ;*/
}

@media screen and (max-width: 768px ) {
.quote-icon {
font-size: 2rem;
margin-left: -33px;
padding-top: 130px;
}

}

@media screen and (max-width: 768px ) {
    .p2 {
        font-size: 16px;
        padding-top:-20px;
    }

    .p3 {
        font-size: 13px;
    }

    .text-wrapper {
        padding-left: 60px;
    }

    .base-button {

    }
}

.base-button {
    cursor: pointer;

    width: 235px ;
    cursor: pointer;
    position: absolute;
    top:70% ;
    border: none;
    background: #F45D92;
    font-size: 20px;
    font-family: 'Averta';
    color: #ffffff;
    padding: 16px 23px;
    border-radius: 8px;
    text-align: center;
    font-weight: 700;
    line-height: 24.72px;
}

.base-button-wrapper {
    position: relative;
}

.base-button-wrapper .base-button {
    cursor: pointer;
}

.text-wrapper2 {
margin:auto 0 ;
}


.text-wrapper2 > h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: -1.1px;
    color:#F45D92 ;

} 

.text-wrapper2 > p {

font-weight: 400;
font-size: 28px;
line-height: 34px;
text-align: center;
letter-spacing: -1.1px;
color: #19126C;
} 

.mom-rectangle {
    margin: 0 auto ; /*centered*/
    display: flex;
    width: 412px;
    height: 50px;
    background: #F56B9B;
    opacity: 0.2;
    border-radius: 72px;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    align-items: center;
    z-index: -1 ;
}

.p-rec {
    text-align: center;
    color: #F45D92;

}

.rectangle > p1 {
    text-align: center;
    font-size: 28px;
    line-height: 34.16px;
    letter-spacing: -1.1px;
    font-weight: 400;
    color: #19126C; /*opacity*/
}

@media screen and (max-width: 768px ) {
.text-wrapper2 >h1 {
    font-weight: 600 ;
    font-size: 30px;
    line-height: 36.6px;
    letter-spacing: -1.1px;
    text-align: center;
}
}

@media screen and (max-width: 768px ) {
    .text-wrapper2 >p {
        font-weight: 400 ;
        font-size: 14px;
        line-height: 18.2px;
        letter-spacing: -1.1px;
        text-align: center;
    }
    }

    @media screen and (max-width: 768px) {
        .mom-rectangle {
            margin: 0 auto ; /*centered*/
            display: flex;
            width: 180px;
            height: 18px;
            background: #F56B9B;
            opacity: 0.2;
            border-radius: 72px;
            justify-content: center;
            text-align: center;
            margin-bottom: 10px;
            align-items: center;
            z-index: -1 ;
        }
    }

    @media screen and (max-width: 768px) {
        .happy-mom-pic {
            height: 182px;
            width: 148px;
            padding-right: 0;
        }
    }

    @media screen and (max-width: 768px) {
        .happy-mom-container {
            flex-direction: column-reverse;
            padding-bottom: 270px;
            align-items: center;
            justify-items: center;
        }
    }


    @media screen and (max-width: 768px) {
        .mom-column2-rectangle {
            width: 330px;
            height: 376px;
        }
    }